*{
margin: 0px;
padding: 0px;
box-sizing: border-box;
font-family: "inter";
}
.container{
    display: flex;
}

.left-panel{
    height: 100vh;
    width: 20vw;
    background-color: aqua;
    display:flex;
    flex-direction: column;
    justify-content:space-between;
}
 

.central-panel{
    height: 100vh;
    width: 80vw;
    background-color: blueviolet;
}

.top{
width: 100%;
min-height: 300px;
background-color: brown;
}
.button{
    width: 242px;
    height: 40px;
    background-color: black;
    color: #ffffff;
    border-radius: 12px;
    font-size: 18px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
}

.bottom{
width: 100%;
min-height: 300px;
background-color:aquamarine;
}

.barra{
    width: 242px;
    height: 48px;
    display: flex;
    flex-direction: column;
    padding: 12px;
    color: black;
    font-size: 14px;
}